<svg id="title">
 <defs>
  <mask id="textMask" x="0" y="0" width="100%" height="100%">
   <rect x="0" y="0" width="100%" height="100%" fill="white"/>
   <text x="50%" y="1.08em">PAKCHEE</text>
  </mask>
 </defs>
 <rect x="0" y="0" width="100%" height="100%" fill="white" mask="url(#textMask)" />
 <text x="50%" y="1.08em">PAKCHEE</text>
</svg>
<div id="keyCtr">
 <div id="keyBg"></div>
 <%= form_for :key, :url => {action: :login}, :html => {id: "keyForm"} do |f| %>
  <%= f.hidden_field :cipher %>
  <div id="key" contenteditable>key:>></div>
 <%- end -%>
 <%- if flash[:notice] -%>
 <div id="keyMsg"><%= flash[:notice] %></div>
 <%- end -%>
</div>
<div id="info">
 <div id="about">
  <div id="abtTxt">
   <p>This website is secret web pages to share with your friends.</p>
   <p>If you want one, describe what you want and leave your email below.</p>
   <p>No guarantees you get one.</p>
   <p>No guarantees you get what you want.</p>
  </div>
  <%= form_for :request, :url => {controller: "requests"}, :html => {id: "req"}, :remote => true do |f| %>
   <%= f.hidden_field :text %>
   <div id="reqTxt" contenteditable>&zwnj;</div>
   <div id="msg"><span id="minimise">Minimise</span></div>
   <div id="submit" name="commit" unselectable="on">submit</div>
  <% end %>
 </div>
</div>
